.Home {
  background: linear-gradient(to top, rgba(36, 40, 43, 0.789), rgb(33, 37, 41)),
              url('https://images.unsplash.com/photo-1440404653325-ab127d49abc1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80') no-repeat center center fixed;
  background-color: rgba(39, 39, 39, 0.685); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
}

.home-card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}

.Home h1 {
  background: -webkit-linear-gradient(rgba(173, 126, 18, 0.963), rgba(245, 151, 108, 0.263));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 10px;
  margin: 0;
  font-weight: bolder;
}
